header {
    background-color: rgb(250, 220, 176);
    /*min-width: 376px;*/
    width: 100%;
    }

main {
    background-color: rgb(250, 220, 176);
    /*min-width: 376px;*/
    width: 100%;
}
    
    .cardSmall{
      background-color: rgb(106, 16, 46);
      
    }
    
    .read-the-docs {
      color: #888;
    }