body {
    background-color: rgb(250, 220, 176);
    /*min-width: 376px;*/
    width: 100%;
    }

header {
    background-color: rgb(250, 220, 176);
    /*min-width: 376px;*/
    width: 100%;
    }

main {
    background-color: rgb(250, 220, 176);
    /*min-width: 376px;*/
    width: 100%;
}
    
.cardSmall{
    background-color: rgb(106, 16, 46);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 96%;
    margin-top: 10px;

    p {
        color: rgb(250, 220, 176);
        padding-left: 1em;
        padding-right: 1em;
    
      }
      
}